[submodule "libs/circle"]
	path = libs/circle
	url = https://github.com/rsta2/circle.git
[submodule "libs/circle-newlib"]
	path = libs/circle-newlib
	url = https://github.com/smuehlst/circle-newlib
	branch = circle-newlib
[submodule "libs/mbedtls"]
	path = libs/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "libs/doctest"]
	path = libs/doctest
	url = https://github.com/doctest/doctest.git
